:root {
  --cols: 30;
  --rows: 20;
  --tile-size: 40px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.clear {
  clear: both;
  content: ""
}

.game {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.game-info {
  min-height: 50px;
}

.board {    
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  justify-content: center;
  align-items: center;
}

.cell {
  background: #fff;
  border: 1px solid #414c69;
  float: left;
  height: var(--tile-size);
  text-align: center;
  width: var(--tile-size);
  cursor: pointer;
}

.cell:focus {
  outline: none;
}

.is-empty {
  background: #7e7b92;
}
