:root {
  --cols: 30;
  --rows: 20;
  --tile-size: 40px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.clear {
  clear: both;
  content: ""
}

.game {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.game-info {
  min-height: 50px;
}

.board {    
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  justify-content: center;
  align-items: center;
}

.cell {
  background: #fff;
  border: 1px solid #414c69;
  float: left;
  height: var(--tile-size);
  text-align: center;
  width: var(--tile-size);
  cursor: pointer;
}

.cell:focus {
  outline: none;
}

.cell:hover {
  background: #8e8ba2;
}

.is-empty {
  background: #7e7b92;
}

.react-contextmenu {
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    color: #373a3c;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
}

.react-contextmenu-item {
    padding: 3px 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
  cursor: pointer;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    text-decoration: none;
}