.header {
    position: fixed;
    top: 0;
    height: 8%;
    background-color: rgb(197, 178, 178);
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Anton', sans-serif;
}